.event-spotlight {
  $block: '.event-spotlight';

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;

  &__event-card {
    width: 100%;
    height: 498px;
  }

  &__arrows {
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}