.event-card {
  $block: '.event-card';

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;

  &__info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding:0 25px 0 23px;
    height: 179px;

  }

  &__date-place {
    // border-top: 0.3px solid #707070;
    // border-bottom: 0.3px solid #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    font-family: "Helvetica";
    font-weight: lighter;
    margin: 0;
   color: rgba(212, 31, 77, 1);
  }

  &__date_big {
    font-size: 18px;
  }

  &__date_small {
    font-size: 12px;
  }

  &__time {
    color: black;
  }

  &__place {
    font-family: "Helvetica";
    font-weight: lighter;
    margin: 0;
  }

  &__place_big {
    font-size: 18px;
  }

  &__place_small {
    font-size: 12px;
  }

  &__title {
    font-family: "Helvetica";
    font-weight: lighter;
    margin: 0;
  }

  &__title_big {
    font-size: 24px;
  }

  &__title_small {
    font-size: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__get-tickets {
    display: flex;
    justify-content: center;
  }

  &__get-tickets__button {
    width: 96px;
    height: 32px;
    background-color: rgba(212, 31, 77, 1);
    border-radius: 6px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 11px;
    font-weight: bold;
  }
}